@inject IJSRuntime JS

<GenericList List="Movies">

    <ChildContent>
        <div class="row">
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" @bind="@isAdmin" />IS Admin?
                    </label>
                </div>
            </div>
        </div>
    </ChildContent>
       
    <ElementTemplate Context="movie">
        <MovieItem Movie="movie" IsAdmin="isAdmin" DeleteMovie="DeleteMovie" />
    </ElementTemplate>
</GenericList>

@code {

    [Parameter]
    public IList<Movie> Movies { get; set; } // = new List<Movie>();
    [Parameter]
    public RenderFragment NullTemplate { get; set; }
    [Parameter]
    public RenderFragment EmptyTemplate { get; set; }

    bool isAdmin = false;

    async Task DeleteMovie(Movie movie)
    {
        Console.WriteLine($"Deleting movie: { movie }...");

        // Delete movie confirmation
        var confirmed = await JS.InvokeAsync<bool>("confirm", $"Do you really want to delete the movie: { movie.Title }");

        if(confirmed == false)
        {
            await JS.InvokeVoidAsync("alert", "Better safe than sorry...");

            return;
        }

        await Task.Delay(5000);
        Movies.Remove(movie);
        await JS.InvokeVoidAsync("alert", "Yay! Movie deleted successfully...");
        Console.WriteLine($"{ movie } deleted!!!");
    }

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        //Movies = GetMovies();
    }

}
