@page "/razortest"

<h3>All Movies</h3>

<MovieList Movies="movies">
    <NullTemplate>
        Loading movie content...
    </NullTemplate>
    <EmptyTemplate>
        <text>The are no movies to be displayed...</text>
    </EmptyTemplate>
</MovieList>

@code {

    IList<Movie> movies;

    protected async override Task OnInitializedAsync()
    {

        await Task.Delay(5000);
        movies = GetMovies();
    }

    IList<Movie> GetMovies()
    {
        return new List<Movie>()
        {
            new Movie()
            {
                Title = "Mad O!!!",
                Description = "A mad movie... ",
                ReleasedDate = new DateTime(2020, 6, 5)
            },
            new Movie()
            {
                Title = "Attack on Titan: Chronicles",
                Description = "This is the best movie ever",
                ReleasedDate = new DateTime(2020, 6, 5)
            },
            new Movie()
            {
                Title = "Sonic the Hedgehog",
                Description = "This movie has the greatest comeback",
                ReleasedDate = new DateTime(2020, 6, 5)
            },
        };
    }

}

